################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HelloXamarinWorld/HelloXamarinWorld/HelloXamarinWorld.Android/obj/Debug/90/android/bin
/HelloXamarinWorld/.vs/HelloXamarinWorld/DesignTimeBuild
/HelloXamarinWorld/.vs/HelloXamarinWorld/v16
/HelloXamarinWorld/HelloXamarinWorld/HelloXamarinWorld/bin/Debug/netstandard2.0
/HelloXamarinWorld/HelloXamarinWorld/HelloXamarinWorld/obj/Debug/netstandard2.0/ref
/.vs
/HelloXamarinWorld/HelloXamarinWorld/HelloXamarinWorld.Android/obj
/HelloXamarinWorld/HelloXamarinWorld/HelloXamarinWorld.Android/bin/Debug
*.cache
/HelloXamarinWorld/HelloXamarinWorld/HelloXamarinWorld/obj/Debug/netstandard2.0/HelloXamarinWorld.csproj.FileListAbsolute.txt
/HelloXamarinWorld/HelloXamarinWorld/HelloXamarinWorld/obj/Debug/netstandard2.0/HelloXamarinWorld.dll
/HelloXamarinWorld/HelloXamarinWorld/HelloXamarinWorld/obj/Debug/netstandard2.0/HelloXamarinWorld.pdb
/HelloXamarinWorld/HelloXamarinWorld/HelloXamarinWorld/obj/Debug/netstandard2.0/XamlC.stamp
